.asu-breadcrumbs {
  background-color: #f5f5f5;
  border-bottom: 1px #f9f9f9 solid;
  
  ul { 
    margin: 12px 0;
    padding-left: 2px;
	 
    a {  
      opacity: .8;
	}
	
    a:hover { 
      opacity: 1;
  	}
  }
}

.img-border {
  border: solid 1px $sos-scarab-green;
  padding: 4px;
}

/* Bootstrap Styles */

.panel-success > .panel-heading {
  background-color: #903;
  border-color: #903;
  color: #fff;
}


.news-slider-img { padding-top: 24px;
}
