.asu-breadcrumbs {
  background-color: #f9f9f9;
  
  ul { 
    margin-bottom: 24px;
  }
}

.img-border {
  border: solid 1px $sos-scarab-green;
  padding: 4px;
}

/* Bootstrap Styles */

.panel-success > .panel-heading {
  background-color: #903;
  border-color: #903;
  color: #fff;
}
