/*
 Theme Name:   School of Sustainability Wordpress Theme
 Theme URI:    http://sustainability.asu.edu
 Description:  School of Sustainability Wordpress Theme that is a child of the ASU Web Standards Wordpress Theme.
 Author:       School of Sustainability
 Author URI:   http://sustainability.asu.edu
 Template:     ASU-Web-Standards-Wordpress-Theme
 Version:      1.0.0
 Tags:         responsive-layout, web-ready
 Text Domain:  asu-wordpress-web-standards-child


 GitHub Theme URI: https://github.com/gios-asu/SoS-Wordpress-Theme
 GitHub Branch:    master
*/

/* Note: the Template section is the FOLDER name of the parent template. */


/* =Theme customization starts here
------------------------------------------------------------- */


/* Logo & Brand  */

#asu_logo {
	padding-top: 0x;
 	}
@media (min-width: 992px) {	
	#asu_logo {
	padding-top: 3px ;
	padding-bottom:5px  ;
	}	
}

.navbar-ws .navbar-brand {
	font-weight:bold;
	font-size:20px;
	line-height:normal;
	}

#site-name-desktop h1.site-title {
	font-size:24px;
	padding: 0px 13px 13px 0px;
	}

@media (max-width: 930px) {	
	#asu_mobile_menu {
	display:none;
	}
}


/* Menu and ASU mobile nav gone */
.mega-menu .dropdown-title {
  color: #ffb310;
  font-weight:normal;
	}

.mega-menu .dropdown-menu > .row > .column > li > a:hover {
  color: #ffb310;
	}

.mega-menu .dropdown-menu > .row > .column > .active > a, .mega-menu .dropdown-menu > .row > .column > .active > a:hover, .mega-menu .dropdown-menu > .row > .column > .active > a:focus {
  color: #ffb310;
	}

.navbar-ws .navbar-nav > li.current-menu-ancestor a{
  color: #ffb310;
	}

.navbar-ws .navbar-nav > li.current-menu-ancestor a span{
  color: #e0bb6a;
	}

 
 
 /* Hero Image Area with Home Specific */
 
.hero {
  padding: 0;
	}

.home .hero-bg-img p {
	padding-top:10px;
	font-size:36px;
	line-height:normal;
	}

.hero-bg-img p {
	max-width:none;
	}	

.hero-bg-img h1, .hero-bg-img h2, .hero-bg-img .h1 .h2 {
	font-size:48px;
	}

.home .hero-bg-img h1, .home .hero-bg-img h2, .home .hero-bg-img .h1 .h2 {
	font-size:60px;
	}

@media (max-width: 1199px) {	
	.home .hero-bg-img p {
 	font-size:20px;
 	}
	
	.home .hero-bg-img h1, .home .hero-bg-img h2, .home .hero-bg-img .h1 .h2 {
	font-size:36px;
	}
}	
 
 
 
 
 
/* Image to fill Colums */
 
.img-100 {
	width: 100%;
	}
 
  
 

 
/* Margin Scaffolding */
 
h2,
.h2 {
  margin-bottom: 10px;
  margin-top: 24px;
}

h3,
.h3 {
  margin-bottom: 10px;
  margin-top: 24px;
}

h4,
.h4 {
  margin-bottom: 10px;
  margin-top: 24px;
}

h5,
.h5 {
  margin-bottom: 10px;
  margin-top: 24px;
}

h6,
.h6 {
  margin-bottom: 10px;
  margin-top: 24px;
}


.margin-top-0 {
    margin-top: 0px;	
	}


ul#breadcrumbs {
	margin-bottom: 22px;
	} 

.column-feature-height-225 img{  
	min-height: 225px; /* example pixel height */
	*height: 225px; /* IE hack */ 
}
