/*
Theme Name:   School of Sustainability Wordpress Theme
Theme URI:    http://sustainability.asu.edu
Description:  School of Sustainability Wordpress Theme that is a child of the ASU Web Standards Wordpress Theme.
Author:       School of Sustainability
Author URI:   http://sustainability.asu.edu
Template:     ASU-Web-Standards-Wordpress-Theme
Version:      1.0.1
Tags:         responsive-layout, web-ready
Text Domain:  asu-wordpress-web-standards-child

GitHub Theme URI: https://github.com/gios-asu/SoS-Wordpress-Theme
GitHub Branch:    master
*/
/*
 * Note: the `Template` section is the FOLDER name of the parent template.
 */